@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(230, 222, 191);
	min-height: 100vh;
}

h1 {
	text-align: center;
}

.wrapper {
	margin-inline: auto;
	padding: 3rem;
}

.btn {
	cursor: pointer;
	background-color: rgb(25, 165, 169);
	border-radius: 5px;
	color: whitesmoke;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	transition: all .2s;

}

select {
	transition: all .2s;
	cursor: pointer;
}

.btn:hover,
select:hover {
	transform: scale(1.05);
}

.btn:active {
	transform: scale(0.9);
}

.btn:focus {
	outline: none;
}

.btn-toggle {
	display: block;
	margin-inline: auto;
	margin-bottom: 3rem;
}

.text-box {
	width: 50%;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, calc(-100% - 20vh));
	background-color: rgb(49, 53, 56);
	color: whitesmoke;
	border-radius: 5px;
	padding: 1rem 2rem;
	transition: all 1s ease-out;
}

.text-box.show {
	transform: translate(-50%, 0);
}

.btn-close {
	float: right;
	text-align: right;
	cursor: pointer;
	margin-bottom: 1rem;
}

.text-box select {
	background-color: rgb(230, 191, 36);
	color: rgb(49, 53, 56);
	font-size: .75rem;
	font-weight: 600;
	height: 2rem;
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: .5rem 1rem;
}

.text-box textarea {
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	padding: .5rem 1rem;
	margin: 1rem 0;
	width: 100%;
	min-height: 8rem;
}

.btn-read {
	width: 100%;
}


/* MAIN */

main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.box {
	box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: all .2s ease-out;
}

.box.active {
	box-shadow: 0 0 10px 5px rgb(121, 21, 151);
	transform: scale(.9);
}

.box img {
	width: 100%;
	object-fit: cover;
	height: 15rem;
}

.box .info {
	background-color: rgb(72, 140, 145);
	color: white;
	font-size: 1.25rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: .5rem 1rem;
	height: clamp(3rem, 100%, 4rem);
}

@media (max-width: 1100px) {
	main {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 760px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	main {
		grid-template-columns: 1fr;
	}
}